fastapi>=0.110.0
uvicorn[standard]
numpy
opencv-python
yt-dlp
faiss-cpu
aiosqlite
torch --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
transformers
huggingface_hub
accelerate
pillow
einops
timm
sentence-transformers
scikit-learn
pysrt
hdbscan
faster-whisper
insightface
onnxruntime-gpu
weibo-spider
